/*Colors*/
/*Primary*/
$clr-primary-blue: hsl(233, 26%, 24%);
$clr-primary-green: hsl(136, 65%, 51%);
$clr-primary-cyan: hsl(192, 70%, 51%);
/*Neutral*/
$clr-neutral-blue: hsl(233, 8%, 62%);
$clr-neutral-light-gray: hsl(220, 16%, 96%);
$clr-neutral-very-light-gray: hsl(0, 0%, 98%);
$clr-neutral-white: hsl(0, 0%, 100%);

/*Typography*/
$ff-main: 'Public Sans', sans-serif;

*, *::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    background-color: $clr-neutral-white;
    font-family: $ff-main;
    font-size: 18px;
    color: $clr-primary-blue;
    font-weight: 300;
}

header, footer, main, section {
    padding: 0.5em 1em;
}

h2, h3 {
    font-weight: inherit;
    padding-bottom: 10px;
}

p {
    font-size: 1rem;
    padding-bottom: 10px;
}

small {
    font-size: 0.8rem;
}

li {
    list-style-type: none;
}

button {
    font-family: inherit;
    color: $clr-neutral-white;
    background: linear-gradient(100deg, $clr-primary-green 0%, $clr-primary-cyan 100%);
    border: $clr-primary-cyan;
    padding: 10px;
    border-radius: 15px;
}

.bg-light {
    background-color: $clr-neutral-light-gray;
}

.bg-darker {
    background-color: $clr-neutral-very-light-gray;
}

/*Typography*/


/*Header*/

header {
    background-color: $clr-neutral-white;

}

/*Sections*/
// .section-intro {

//     .title{

//     }
// }


// .section-content {

// }


// .section-title {

// }

/*Footer*/
footer {
    background-color: $clr-primary-blue;
    color: $clr-neutral-white;

}