/*Colors*/
/*Primary*/
$clr-primary-blue: hsl(233, 26%, 24%);
$clr-primary-green: hsl(136, 65%, 51%);
$clr-primary-cyan: hsl(192, 70%, 51%);
/*Neutral*/
$clr-neutral-blue: hsl(233, 8%, 62%);
$clr-neutral-light-gray: hsl(220, 16%, 96%);
$clr-neutral-very-light-gray: hsl(0, 0%, 98%);
$clr-neutral-white: hsl(0, 0%, 100%);

/*Typography*/
$ff-main: 'Public Sans', sans-serif;

*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $clr-neutral-white;
    color: $clr-primary-blue;
    font-family: $ff-main;
    font-size: 18px;
    font-weight: 300;
}


/* MORE GENERAL RULES*/
/* paddings*/
header, footer,  div:not(.main, .articles-item, .product-item){
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.5em;
}

header, footer {
    padding-top: 0.5em;
}

nav {
    padding: 2em;
}

h1, h2 {
    padding-top:1.5em;
    padding-bottom: 0.5em;
}

h3 {
    padding-top: 0em;
    padding-bottom: 1em;
}

p {
    padding-bottom: 2em;
}

.footer-logo, .footer-copyright {
    padding: 1em;
}

/*Typography*/
h1 {
    font-size: 2rem;
    font-weight: 400;
}

h2, h3, p {
    font-weight: inherit;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

small {
    font-size: 0.8rem;
}

li {
    list-style-type: none;
}

.intro-section, .product-section, h2, nav, footer {
    text-align: center;
}

button {
    font-family: inherit;
}

/*Colors*/
p {
    color: $clr-neutral-blue;
}

.intro-section, .articles-section  {
    background-color: $clr-neutral-very-light-gray;
}

.product-section {
    background-color: $clr-neutral-light-gray;
}

footer {
    background-color: $clr-primary-blue;
    color: $clr-neutral-white;

}
header, nav, .articles-item {
    background-color: $clr-neutral-white;
}

/*Buttons */
.request-inv-btn{
    background: linear-gradient(100deg, $clr-primary-green 0%, $clr-primary-cyan 100%);
    border-radius: 1.7em;
    border: $clr-primary-cyan;
    color: $clr-neutral-white;
    padding: 1em 1.5em;
}

.burger-btn {
    background-color: $clr-neutral-white;
}

/*Images*/
img {
    max-width: 100%;
}


/*MORE SPECIFIC RULES*/

/*Header*/
header {
    display: flex;
    height: 3vh;
    justify-content: space-between;

    nav {
        border-radius: 10px;
        display: none;
        position: absolute;
        top: 10vh;
        width: 80vw;

        &.active{
            display: block;
        }

        li {
            padding: 10px;
        }

        button {
            display: none;
        }
    }

    img {
        height: fit-content;
    }
}

/*Sections*/
.intro-section {
    display: flex;
    flex-wrap: wrap-reverse;
    .section-image {
        background: url(/images/image-mockups.png), url(/images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position: center bottom, center;
        background-size: 300px, cover;
        height: 25vh;
        width: 100%;
    }
}

.articles-section {
    .articles-item {
        margin-bottom: 15px;
        border-radius: 10px;

        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;

    .footer-logo {
        margin: auto;
    }

    // img {
    //     fill: wheat;
    // }

    .footer-social {
        a {
            padding: 0.5em;
        }
    }

    .footer-links {
        padding: 0.5em;
    }
}
